.idea
.vscode
venv
gosport_project/static/images/photo/


!/media/images/photo/.gitkeep
!/media/json/.gitkeep

venuesapp/static/images/photo/
__pycache__

*.log
local_settings.py
db.sqlite3
#/static

media/*
script.py
