.idea
.vscode
venv
gosport_project/static/images/photo/
gosport_project/static/images/photo/thumb

!/media/images/photo/.gitkeep
!/media/json/.gitkeep

!/media/images/photo/thumb/.gitkeep


venuesapp/static/images/photo/
.__pycache__

*.log
local_settings.py
db.sqlite3
#/static
production.py
media/*
script.py

