{% extends 'mainapp/base.html' %}

{% block content %}
    <!--============================= CONFIRMATION =============================-->
    <section class="main-block">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center  min-height-block">
                <div class="col-md-12">
                    <div class="confirmation-wrap">
                        <span class="ti-check"></span>
                        <h2>Thank you for your Listing</h2>
                        <p>You'll receive a confirmation email at mail@yourgmail.com</p>
                        <a href="#" class="btn btn-outline-danger btn-confirmation">CHECK INVOICE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END CONFIRMATION -->
{% endblock content %}
