{% extends 'mainapp/base.html' %}

{% block content %}
    <!--============================= SUBPAGE HEADER BG =============================-->
    <section class="subpage-bg">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="titile-block title-block_subpage">
                        <h2>Add Listing</h2>
                        <p><a href="index.html"> Home</a> / Add Listing</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SUBPAGE HEADER BG -->
    <!--============================= ADD LISTING =============================-->
    <section class="main-block">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="listing-wrap">
                        <form action="#">
                            <!-- General Information -->
                            <div class="listing-title">
                                <span class="ti-files"></span>
                                <h4>General Information</h4>
                                <p>Write Something General Information About Your Listing</p>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Listing Title</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Keyword</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select class="form-control add-listing_form">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Website</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                            </div>
                            <!--//End General Information -->
                            <!-- Add Location -->
                            <div class="listing-title">
                                <span class="ti-location-pin"></span>
                                <h4>Add Location</h4>
                                <p>Write Something General Information About Your Listing</p>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Temporary Address</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>City</label>
                                        <select class="form-control add-listing_form">
                                            <option>New York</option>
                                            <option>Los Angeles</option>
                                            <option>Chicago</option>
                                            <option>Phoenix</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>State</label>
                                        <select class="form-control add-listing_form">
                                            <option>New York</option>
                                            <option>Los Angeles</option>
                                            <option>Chicago</option>
                                            <option>Phoenix</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Zip-Code</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                            </div>
                            <!--//End Add Location -->

                            <!-- Full Details -->
                            <div class="listing-title">
                                <span class="ti-location-pin"></span>
                                <h4>Full Details</h4>
                                <p>Write Something General Information About Your Listing</p>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Owner Name</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control add-listing_form">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="number" class="form-control add-listing_form">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Website</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Owner Designation</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Company</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Facebook Link</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Twitter User</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Google Plus</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Linked In</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Description</label>
                                        <textarea class="form-control add-listing_form" id="exampleFormControlTextarea1"
                                                  rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--//End Full Details -->

                            <!-- Add Gallery -->
                            <div class="listing-title">
                                <span class="ti-gallery"></span>
                                <h4>Add Gallery</h4>
                                <p>Write Something General Information About Your Listing</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-file">
                                        <div class="add-gallery-text">
                                            <i class="ti-gallery"></i>
                                            <span>Drag &amp; Drop To Change Logo</span>
                                        </div>
                                        <input type="file" class="custom-file-input" id="customFile">
                                    </div>
                                </div>
                            </div>
                            <!--//End Add Gallery -->

                            <!-- Amenities -->
                            <div class="listing-title">
                                <span class="ti-gift"></span>
                                <h4>Amenities</h4>
                                <p>Write Something General Information About Your Listing</p>
                            </div>
                            <div class="row">
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i1" type="checkbox">
                                        <label for="i1">Alarm system</label>
                                    </div>
                                </div>
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i2" type="checkbox">
                                        <label for="i2">Laundry room in building</label>
                                    </div>
                                </div>
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i3" type="checkbox">
                                        <label for="i3">Elevator</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i4" type="checkbox">
                                        <label for="i4">Depanneur in building</label>
                                    </div>
                                </div>
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i5" type="checkbox">
                                        <label for="i5">Door attendant</label>
                                    </div>
                                </div>
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i6" type="checkbox">
                                        <label for="i6">Wheelchair accessible</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i7" type="checkbox">
                                        <label for="i7">Onsite management </label>
                                    </div>
                                </div>
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i8" type="checkbox">
                                        <label for="i8">Street parking</label>
                                    </div>
                                </div>
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i9" type="checkbox">
                                        <label for="i9">Heating</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i11" type="checkbox">
                                        <label for="i11"> Janitor</label>
                                    </div>
                                </div>
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i12" type="checkbox">
                                        <label for="i12"> Intercom </label>
                                    </div>
                                </div>
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i13" type="checkbox">
                                        <label for="i13">Hot water</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i14" type="checkbox">
                                        <label for="i14">Security cameras</label>
                                    </div>
                                </div>
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i15" type="checkbox">
                                        <label for="i15">Attached garage</label>
                                    </div>
                                </div>
                                <div class="col-md-4 responsive-wrap">
                                    <div class="md-checkbox">
                                        <input id="i16" type="checkbox">
                                        <label for="i16">Electricity</label>
                                    </div>
                                </div>
                            </div>
                            <!--//End Amenities -->

                            <!-- Opening Hours -->
                            <div class="listing-title">
                                <span class="ti-time"></span>
                                <h4>Opening Hours</h4>
                                <p>Write Something General Information About Your Listing</p>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label class="listing-time">Weekdays</label>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option selected>Opening Time</option>
                                            <option>1 :00 AM</option>
                                            <option>2 :00 AM</option>
                                            <option>3 :00 AM</option>
                                            <option>4 :00 AM</option>
                                            <option>5 :00 AM</option>
                                            <option>6 :00 AM</option>
                                            <option>7 :00 AM</option>
                                            <option>8 :00 AM</option>
                                            <option>9 :00 AM</option>
                                            <option>10 :00 AM</option>
                                            <option>11 :00 AM</option>
                                            <option>12 :00 AM</option>
                                            <option>1 :00 PM</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option selected>Closing Time</option>
                                            <option>1 :00 AM</option>
                                            <option>2 :00 AM</option>
                                            <option>3 :00 AM</option>
                                            <option>4 :00 AM</option>
                                            <option>5 :00 AM</option>
                                            <option>6 :00 AM</option>
                                            <option>7 :00 AM</option>
                                            <option>8 :00 AM</option>
                                            <option>9 :00 AM</option>
                                            <option>10 :00 AM</option>
                                            <option>11 :00 AM</option>
                                            <option>12 :00 AM</option>
                                            <option>1 :00 PM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label class="listing-time">Weekends</label>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option selected>Opening Time</option>
                                            <option>1 :00 AM</option>
                                            <option>2 :00 AM</option>
                                            <option>3 :00 AM</option>
                                            <option>4 :00 AM</option>
                                            <option>5 :00 AM</option>
                                            <option>6 :00 AM</option>
                                            <option>7 :00 AM</option>
                                            <option>8 :00 AM</option>
                                            <option>9 :00 AM</option>
                                            <option>10 :00 AM</option>
                                            <option>11 :00 AM</option>
                                            <option>12 :00 AM</option>
                                            <option>1 :00 PM</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option selected>Closing Time</option>
                                            <option>1 :00 AM</option>
                                            <option>2 :00 AM</option>
                                            <option>3 :00 AM</option>
                                            <option>4 :00 AM</option>
                                            <option>5 :00 AM</option>
                                            <option>6 :00 AM</option>
                                            <option>7 :00 AM</option>
                                            <option>8 :00 AM</option>
                                            <option>9 :00 AM</option>
                                            <option>10 :00 AM</option>
                                            <option>11 :00 AM</option>
                                            <option>12 :00 AM</option>
                                            <option>1 :00 PM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-wrap btn-wrap2">
                                        <a href="#" class="btn btn-simple">SUBMIT LISTING</a>
                                    </div>
                                </div>
                            </div>
                            <!--//End Opening Hours -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END ADD LISTING -->
{% endblock content %}
